.row
{
    height: 100px;
    background-color:rgb(252, 0, 168);
}
.item {
    margin: 20px 0;
    text-align: center;
    float:left;
    width:25%;
    
}
.title {
    font-size: 50px;
    text-align: center;
    }
.images{
    margin-left: 40px;
}
.images1{
    margin-left: 300px;
    margin-bottom: 900px;
}
.images2{
    margin-left: 300px;
    margin-bottom: 800px;
}
 

.icecream{
    list-style-type:none;
    text-align:center;
}
.icecream li{
    display:inline-block;
    margin:0 20px;
    height: 300px;
}
.icecream li img
{
    
    height: 100%;
}
.itemleft{
    color:rgb(0, 0, 0)
}
.row h2 a{
    text-decoration: none;
}
.icecream{
    list-style-type: none;
    text-align: center ;
    height:300px;
    
    
    
}

.icecream li{
    display:inline-block;
    margin:0 20px;
    height:100%;
    width: 300px;
    background-position: center;
    background-size: cover;
    
}
.pic1{
 background-image: url("https://images1.miaminewtimes.com/imager/u/original/10524346/unicorn_icecream.jpg");
margin-bottom: 500px;
}
.pic2{
    background-image: url("https://t4.ftcdn.net/jpg/03/14/72/17/360_F_314721742_D4DmzguQBSoEbVPXsAEkGzF1Mvxx9IYD.jpg");
    margin-bottom: 500px;  
}
.pic3{
    background-image: url("https://th.bing.com/th/id/R860c58471a3ef6b8d9a1623b59d86233?rik=HLY%2fJO%2fN17cZJg&riu=http%3a%2f%2f4.bp.blogspot.com%2f-Td9e1wKiNiM%2fTuo2UAHVHiI%2fAAAAAAAAD4Q%2fH2Zc8R59wJc%2fs1600%2fIMG_1346.JPG&ehk=mxZ%2fvNWVB1qb3FrlriUYBVgenlOGOd9Fea7S0pMRJJo%3d&risl=&pid=ImgRaw");
    margin-bottom: 500px;   
}
.pic4{
    background-image: url("https://th.bing.com/th/id/OIP.IZR7g5-y061gmBW6DSRx_gHaGL?pid=ImgDet&rs=1");
    margin-bottom: 500px;   
}

.icecream li div{
height: 100%;
width: 100%;
}
.subtitle{
    font-size: 50px;
    text-align: center;
    color:rgb(252, 0, 168)
}
.pic1{
    margin-top: 500px;
}
.text h1 a{
    text-decoration: none;
}



